.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.tile {
  background: white;
  margin: 10px;

  &.transparent {
    opacity: 0;
  }
}

.tileFrosted {
  background: rgba(177, 196, 231, 0.2);
  backdrop-filter: blur(8px);
  margin: 5px;
}

.tileW1 {
  width: 50px;
  height: 50px;
}

.tileW2 {
  height: 70px;
}

.tileH3 {
  width: 100px;
  height: 170px;
}

.tileAuto {
  height: 100%;
}