.container {
  height: 500px;
  padding: 50px 50px 0;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  position: relative;

  @media all and (max-width: 1024px) {
    background: linear-gradient(50deg, var(--primary) 0%, var(--secondary) 100%);
    height: auto;
    padding: 50px;
  }
}

.text {
  width: 600px;
  max-width: 100%;
  color: #ffffff;
  position: absolute;
  left: calc(50% - 110px);
  transform: translateX(-50%);

  &:before {
    content: "";
    position: absolute;
    background: linear-gradient(50deg, var(--primary) 0%, var(--secondary) 100%);
    width: 150vw;
    height: 600px;
    top: 0;
    left: 50%;
    z-index: -1;
    transform: translate(-75vw, -100px) rotate(-10deg);
  }

  a {
    color: #ffffff;
  }

  @media all and (max-width: 1024px) {
    position: relative;
    transform: none;
    left: 0;

    &:before {
      display: none;
    }
  }
}

.tiles {
  position: absolute;
  top: 290px;
  left: calc(50% + 380px);
  transform: scale(1.5);
  z-index: 1;

  @media all and (max-width: 1024px) {
    display: none;
  }
}

.tilesFrosted {
  position: absolute;
  top: 190px;
  left: calc(50% + 310px);
  transform: scale(2.7);
  z-index: 2;

  @media all and (max-width: 1024px) {
    display: none;
  }
}

.tilesFrosted2 {
  position: absolute;
  top: 180px;
  left: calc(50% + 480px);
  transform: scale(1.2) rotate(270deg);
  z-index: 2;

  @media all and (max-width: 1024px) {
    display: none;
  }
}