.content {
  padding: 15px 25px !important;
  background: #eef2ff;
  border-radius: 10px;
  width: 450px;
  text-align: left;
  margin-right: 20px;
  margin-bottom: 15px;
}

.code {
  white-space: pre-wrap;
}